grpcio==1.71.0
numpy==2.2.3
pydantic==2.10.5
pydantic-settings==2.7.1
protobuf==5.29.3
transformers==4.50.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu; platform_system == "Linux" and platform_machine == "x86_64"
torch>=2.6.0; platform_system != "Linux" or platform_machine != "x86_64"
